{% extends 'users/base.html' %}
{% load static %}

{% block content %}
<section class="forms-section">
    <h1 class="section-title">Вход в БелГАУ</h1>
    <div class="forms">
        <!-- Login Form -->
        <div class="form-wrapper is-active">
            <button type="button" class="switcher switcher-login">
                Login
                <span class="underline"></span>
            </button>
            <form action="{% url 'users:login' %}" method="post" class="form form-login">
                {% csrf_token %}
                <fieldset>
                    <legend>Please, enter your email and password to log in.</legend>
                    <div class="input-block">
                        <label for="login-username">Username</label>
                        <input id="login-username" name="username" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="login-password">Пароль</label>
                        <input id="login-password" name="password" type="password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-login">Login</button>
            </form>
        </div>

        <!-- Sign Up Form -->
        <div class="form-wrapper">
            <button type="button" class="switcher switcher-signup">
                Sign Up
                <span class="underline"></span>
            </button>
            <form action="{% url 'users:auth' %}" method="post" class="form form-signup">
                {% csrf_token %}
                <fieldset>
                    <legend>Пожалуйста, введите свои данные для регистрации</legend>
                    <div class="input-block">
                        <label for="signup-first-name">Имя</label>
                        <input id="signup-first-name" name="first_name" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-last-name">Фамилия</label>
                        <input id="signup-last-name" name="last_name" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-username">Username</label>
                        <input id="signup-username" name="username" type="text" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-email">E-mail</label>
                        <input id="signup-email" name="email" type="email" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password">Пароль</label>
                        <input id="signup-password" name="password1" type="password" required>
                    </div>
                    <div class="input-block">
                        <label for="signup-password-confirm">Подтвердите пароль</label>
                        <input id="signup-password-confirm" name="password2" type="password" required>
                    </div>
                </fieldset>
                <button type="submit" class="btn-signup">Sign Up</button>
            </form>
        </div>
    </div>
</section>

<script src="{% static 'deps/js/register.js' %}"></script>
{% endblock %}
